h1 {
    color: red;
    text-align: center;
}

p {
    font: 12px/25px Arial;
    width: 500px;
    text-align: justify;
}

ol {
    color: red;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    font-style: italic;
    color: #924763;
    width: 500px;
}

h2 {
    color: green;
}

b {
    color: red;
    font-size: 20px;
}

i {
    color: blue;
    font-weight: bold;
}